/* Import ITC Avant Garde Pro for Headlines */
@import url('https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-pro');

/* Import Avenir Next Pro for Body Copy */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
